<div [class]="'theme-wrapper ' + (theme$ | async)">

  <mat-sidenav-container>
    <div class="wrapper">

      <div class="toolbar" [style.position]="(stickyHeader$ | async) ? 'fixed' : 'inherit'" [class.mat-elevation-z4]="(stickyHeader$ | async)">
        <mat-toolbar color="primary">
          <span class="d-none d-md-inline " style="margin-top: 15px">
            <button mat-button class="nav-button" *ngFor="let item of navigation" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{item.label | translate}}
            </button>
          </span>
          <div class="d-none d-md-inline nav-left">
            <span style="	color: #FFFFFF;	font-family: Roboto;	font-size: 16px;	line-height: 19px;">FORECAST GENIUS </span>
            <span> | </span>
            <span> LOGO </span>
            <!-- <button mat-button class="nav-button" *ngFor="let item of navigationLeft" [routerLink]="[item.link]"
              routerLinkActive="active">
              {{item.label | translate}}
            </button> -->
          </div>
        </mat-toolbar>
      

      </div>
      <div class="daily-highlight-section">
          <h1 >highlight section</h1>
        </div>
      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.data && o.activatedRoute.routeConfig.data.title">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </div>

  </mat-sidenav-container>

</div>